@font-face {
    font-family: 'PPMori';
    src: url(fonts/PPMori-Regular.woff)  format('woff');
    src : url(fonts/PPMori-Regular.otf) format('OpenType');
        
}

@font-face {
    font-family: "mori";
    src: url(fonts/PPMori-RegularItalic.woff) format("woff");
    font-style: italic;
}

@font-face {
    font-family: "mori";
    src: url(fonts/PPMori-Book.woff)  format("woff");
    font-weight:300 ;
}

@font-face {
    font-family: "mori";
    src: url(fonts/PPMori-BookItalic.woff) format("woff"); ;
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "mori";
    src: url(fonts/PPMori-SemiBold.woff)  format("woff");
    font-weight:500 ;
}


@font-face {
    font-family: "mori";
    src: url(fonts/PPMori-SemiBoldItalic.woff)  format("woff");
    font-weight: 500;
    font-style: italic;
}  

@font-face {
    font-family: "mori";
    src: url(fonts/PPMori-ExtraBold.woff)  format("woff");
    font-weight:700 ;
}
/*variables*/
:root {
    --marge-droite : 15mm;
    --marge-gauche : 10mm;
    --marge-haute : 15mm;
    --marge-basse : 10mm;
    --main-font : 'PPMori' ;
    --img-height : auto;
    --img-width : 6cm;

    --main-color : rgb(113, 58, 58);
}


body {
    font-family : 'PPMori' ;
    color: var(--main-color);
    
}

h1 h2 h3 h4 h5 {
    font-weight: normal;
}

img {
    mix-blend-mode :hard-light;
    filter: grayscale();

    

}

@page{
    size : A3 landscape;
    margin-bottom: var(--marge-basse);
    margin-left: var(--marge-gauche);
     margin-right: var(--marge-droite);
    margin-top: var(--marge-haute);

    @bottom {
        content : 'Librairie Gollet – septembre 2023' ;
    }

    @bottom-right-corner {
        content: counter(page) '/' counter(pages);
        text-align: center;
        font-weight: 700;
    
    }

}

@page:first {
    @bottom {
        content : none;
    }

}

.typofun {
    font-style: italic;
}


.breakbefore {
    page-break-before : always;
    }
    
.breakafter {
    page-break-after : always;
   
    }



/* couverture */

.couv {
    text-transform: uppercase;
}


/* division des pages en deux */

section:not(.couv) {
    display: flex;
    flex-direction: row;
    
}
article {
    display: inline;
}


/* page de garde */

.page-de-garde {
    height: 100%;

}
section:not(.couv) div:not(.fondimg, .boite, .livre, .rec-droite, .rec-gauche, #livresimg) {
    text-transform: uppercase;
    width: 50%;
}

#edito h1 {
    font-size: 180pt;
    position: absolute;
    text-align : left;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
    translate:  0 0.30em;

}

#edito::before {
    content: '➡ ';
    font-size: 12pt;
}

.colophon {
    margin-right: 10mm;
    text-transform: uppercase;
    position : relative;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
    align-self: flex-end;
    width: 45%;
    height: 100%;
}

#colophon-txt  {
    padding-right:1.5cm ;
    bottom: 0;
    width: 100%;
    position: absolute;
    border-left: solid 4mm;
    padding-left: 1.9em;
    transform: skewX(-20deg);



}

#colophon-txt p {

    transform: skewX(20deg);
    margin: 0;
    font-weight: 700;


 }


#livresimg img {
    padding: 0;
    margin: 0;
    width: 17cm;
    display: block;
    left: 0;    
}

#livresimg {
    background-color: var(--main-color);
    padding: 0;
    height: fit-content;
    margin-bottom: 3em;




}

#presentation-librairie h1 {

    font-weight: 700;
    font-size: 90pt;
    margin: 0;
    line-height: 100%;
    margin-bottom: 1pt;
}

#presentation-librairie h2 {

    font-weight: 700;
    font-size: 20pt;
    text-align: left;
    margin-bottom: 0.25em;
    margin-top: 0;
}





/* article "livre" */


article {
    width: 50%;

}

.livre1  {
    padding-right: 1.5cm;
}

.livres-du-mois {
    page-break-after : always;

}

.livre img {
    width: var(--img-width);
    display: block;

    height: var(--img-height);

    
}




.fondimg {

    width: fit-content;
    height: fit-content;
    position : absolute;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;

    background-color: var(--main-color);


}


.boite {
    display: flex;
    flex-direction: row;
    justify-content :space-between
    
}
.titre {
    font-size: 38pt;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;

    
}
.auteurice {
    font-size: 14pt;
    text-transform: uppercase;
    flex: 1; 

    
}
.genre {
    font: 14pt;
    text-transform: uppercase;
    flex: 1;
    text-align: center;


    
}
.date-de-parution {
    font: 14pt;
    text-transform: uppercase;
    flex: 1;
    
}

.prix {
    font: 14pt;
    text-transform: uppercase;

    
}

.prix::after {
    content: '€';
    font: 18pt;
    text-transform: uppercase;
}

.synopsis {
    font: 11pt;
    margin-left: 6.5cm;
    position: absolute;
    width: 10cm;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;

    

    
}




